@import './var';

%basic-button{
    cursor: pointer;
    border: .5px solid $dark_color;
    background-color: transparent;
    color: $base_color;
    padding: 8px;
    position: relative;

    &::after{
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        background-color: $base_color;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:hover{
        animation: flash 2s ease-in-out both;
    }

    @keyframes flash{
        0%{
            border: solid .5px $dark_color;
        }
        100%{
            border: solid 1px $base_color;
        }
    }
}